/* Header Section */
header {
    width: 100%;
    height: 70px;
    background-image: linear-gradient(0deg, rgba(0,0,0,0.00) 0%,
    rgba(0,0,0,0.50) 50%);
    position: absolute;
}

header .logo {
 float: left;
}

header .main-nav, header .right-nav {
    height: 70px;
    float: left;
    margin: 0;
    padding: 0px 15px;
    line-height: 70px;
}

header .right-nav {
    float: right;
}
header .main-nav li {
    list-style-type: none;
    display: inline-block;
}

header .logo {
    float: left;
}

header .right-nav li {
    list-style-type: none;
    display: inline-block;

}
header .main-nav li a {
    color: white;
    text-decoration: none;
    font-family: 'built_titling', Helvetica, sans-serif;
    font-weight: 200;
    font-size: 20px;
    letter-spacing: 4px;
    padding: 0px 15px;
}

/* Hero Section*/

#hero {
 width: 100%;
 height: 700px;
 background-image:
 linear-gradient(to bottom, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.4) 100%),
 url("../img/hero-image.jpg");
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
}

.container {
    max-width: 940px;
    margin: 0 auto;
}

#hero .container {
 display: flex;
 align-items: center;
 height: 700px;
}
.hero-text {
 max-width: 470px;
}

.hero-text .hero-date {
 font-family: 'built_titling', Helvetica, sans-serif;
 font-size: 30px;
 color: #FFFFFF;
 font-weight: normal;
}
.hero-text .hero-title {
 font-family: 'built_titling', Helvetica, sans-serif;
 font-size: 120px;
 margin: 20px 0px;
 font-weight: normal;
 color: #FFFFFF;
 line-height: 1;
}

.btn-primary {
 display: inline-block;
 font-family: 'built_titling', Helvetica, sans-serif;
 font-weight: 400;
 font-size: 18px;
 letter-spacing: 4.5px;
 background: #BF0000;
 color: white;
 padding: 12px 22px;
 border: none;
 outline: none;
}


/* Blog section */

#blog {
 margin-bottom: 50px;
}

#blog h2 {
 font-family: 'built_titling', Helvetica, sans-serif;
 font-weight: 200;
 font-size: 60px;
}

.blog-posts {
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 margin-top: 50px;
}
.blog-post {
 width: 33.33%;
 padding: 0 5px;
 box-sizing: border-box;
 margin-bottom:30px;
}

.blog-post img {
 width: 100%;
}

.blog-post .blog-post-date {
 font-size: 14px;
 color: #9A9A9A;
 margin-top: 20px;
}
.blog-post h3 {
 font-size: 20px;
 color: #4A4A4A;
 letter-spacing: -0.4px;
 line-height: 1.4;
}
.blog-post .blog-post-desc {
 font-size: 14px;
 color: #4A4A4A;
 line-height: 1.6;
}
.blog-post .blog-post-desc a {
 color: #BF0000;
 text-decoration: underline;
 font-weight: bold;
}
.blog-show-more {
 text-align: center;
}
/* END OF BLOG SECTION */

/* ABOUT US SECTION */
#about-us {
 width: 100%;
 background-image: url(../img/about-us-bg.jpg);
 background-repeat: no-repeat;
 background-size: cover;
 padding: 120px 0;
 color: white;
}

#about-us .container {
 display: flex;
 align-items: top;
}
.about-us-title {
 width: 50%;
}
.about-us-desc {
 width: 50%;
}
.about-us-title h3 {
 font-family: 'built_titling', Helvetica, sans-serif;
 font-weight: 400;
 font-size: 120px;
 line-height: 1;
 letter-spacing: -1px;
 margin: 0;
}

.about-us-title h3::after {
 content: "";
 display: block;
 background: #BF0000;
 width: 90px;
 height: 2px;
 margin-top: 30px;
}

.about-us-desc h4 {
 font-family: 'built_titling', Helvetica, sans-serif;
 font-weight: 400;
 font-size: 26px;
 line-height: 1;
 margin:0;
}

/* END OF ABOUT US */

/* START OF PARTNERS SECTION */

#partners {
 background-color: black;
 color: white;
 text-align: center;
 padding: 50px 0px;
}
.partners-container {
 max-width: 400px;
 margin: 0 auto;
}
.partners-container h2 {
 font-family: 'built_titling', Helvetica, sans-serif;
 font-weight: 400;
 font-size: 60px;
 line-height: 1;
}
.partners-inner {
 display: flex;
 margin: 30px 0px;
}
.partners-inner .partner {
 width: 50%;
}
/* END OF PARTNERS SECTION */

/* STERT OF FOOTER SECTION */
/* FOOTER SECTION */
footer {
 background: black;
 color: white;
}
footer .container {
 display: flex;
 height: 120px;
}
footer .logo {
 padding-top: 20px;
}
footer .main-nav li, footer .right-nav li {
 list-style-type: none;
 display: inline-block;
}
footer .main-nav li a, footer .right-nav li a {
 color: white;
 text-decoration: none;
 font-family: 'built_titling', Helvetica, sans-serif;
 font-weight: 200;
 font-size: 20px;
 letter-spacing: 4px;
 padding: 0px 15px;
}
/* END FOOTER SECTION */
